<%= form_for [:admin, @guide_category] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @guide_category,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest'  -%>
  </div>

  <div class='field'>
    <%= f.label :rank -%>
    <%= f.text_field :rank -%>
  </div>

  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.guide_categories.guide_category'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @guide_category.name)
              } %>
<% end -%>
