<% content_for :body_content_title do %>
  <%= @guide_author.name %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @guide_author.name %>
    </p>
  </section>
  <section>
    <h1>Email</h1>
    <p>
      <%=raw @guide_author.email %>
    </p>
  </section>
  <section>
    <h1>Twitter</h1>
    <p>
      <%=raw @guide_author.twitter %>
    </p>
  </section>
  <section>
    <h1>Author Image</h1>
    <p>
      <%= image_fu @guide_author.author_image, nil %>
    </p>
  </section>
  <section>
    <h1>Bio</h1>
    <p>
      <%=raw @guide_author.bio %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="guide_authors">
      <% @guide_authors.each do |guide_author| %>
        <li>
          <%= link_to guide_author.name, guide_author_path(guide_author) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
